root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.cs]
dotnet_sort_system_directives_first = true

# Мягкие правила стиля (без “ломания” билда)
dotnet_diagnostic.IDE0005.severity = warning   # unused usings
dotnet_diagnostic.IDE0065.severity = warning   # using placement
